main .h5 {
  border-top: 1px solid #ddd; /* 위에 줄 */
  border-bottom: 1px solid #ddd; /* 아래에 줄 */
  padding: 10px 0; /* 텍스트와 선 사이 여백 */
  text-align: center; /* 텍스트 가운데 정렬 */
}

main .accordion {
  margin-bottom: 800px; /* 여기를 0으로 설정해 위로 올림 */
}

main .card {
  margin-bottom: 20px;
}
