/* 전체 페이지 높이를 100vh로 맞추고, overflow 처리 */


/* 스크롤이 필요한 경우, 콘텐츠가 넘치지 않도록 설정 */
.productMain {
  display: flex;
  flex-direction: column;
  height: 100%; /* 전체 페이지 크기에 맞추기 */
  overflow: hidden; /* 추가 스크롤을 방지 */
}

/* 각 상품 그리드 */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* 상품 간 간격 */
}

/* 각 상품 크기 조정 */
.col-3 {
  flex: 0 0 23%; /* 한 줄에 4개씩 배치되도록 width 설정 */
  margin-bottom: 20px; /* 상품 간 아래 간격 */
}

/* 이미지 컨테이너 */
.image-container {
  position: relative;
  text-align: left;
  margin-bottom: 10px;
  overflow: hidden; /* 이미지가 컨테이너 밖으로 넘치지 않도록 */
  padding-top: 30px; /* 이미지 상단 마진 추가 */
}

.image-container img {
  width: 100%; /* 이미지를 컨테이너에 맞춰 크기 조정 */
  height: auto; /* 비율에 맞게 높이 자동 설정 */
  object-fit: cover; /* 이미지 비율을 유지하며 잘라내어 꽉 채우기 */
  border: 2px solid #ddd; /* 외곽선 추가 (색상 및 두께 조정 가능) */
  border-radius: 5px; /* 외곽선의 모서리를 둥글게 설정 */
}

/* 기타 스타일 */
.title {
  margin-top: 1.5vh;
}

.salePrice {
  margin: 0;
}

.routerLink {
  text-decoration: none;
  color: black;
}

h3 {
  font-weight: bold;
}

