/* 결제 금액 안내 */
main #Payment_amount {
    width: 25vw; /* 뷰포트 너비의 25% */
    height: 80vh; /* 뷰포트 높이의 80% */
    margin-left: 70vw; /* 뷰포트 너비의 70% */
    margin-top: -67vh; /* 뷰포트 높이의 -45% */
    border-radius: 2vw; /* 너비의 2% */
    background-color: rgba(59, 59, 59, 0.959);
    position: sticky;
    top: 5%;
    z-index: 1000;
    border: none;
}

/* 결제 금액 안내 서브 박스 */
main #amount_subbox1 {
    width: 18vw; /* 뷰포트 너비의 18% */
    height: 10vh; /* 뷰포트 높이의 10% */
    margin-left: 3vw; /* 너비의 3% */
    margin-top: 5vh; /* 높이의 5% */
    background-color: rgb(46, 46, 46);
    border-radius: 1vw;
    border: none !important;
}

/* 결제 금액 */
main #amunt_text {
    margin-left: 2vw;
    margin-top: 2vh;
}

/* 성인 */
main #amunt_subtex {
    margin-left: 2.5vw;
    padding-top: 2vh;
    font-size: 1em;
    color: rgb(190, 190, 190);
}

/* 금액 */
main #amunt_subtex2 {
    margin-left: 2.5vw;
    padding-top: 0vh;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
}

/* 마이너스 박스 */
main #minbor_box {
    width: 3vw;
    height: 3vw;
    margin-left: 11vw;
    margin-top: -1vh;
    position: relative;
    z-index: 10;
    background-color: rgb(43, 64, 253);
    border-radius: 50%;
    border-color: rgb(0, 0, 0) !important;
}

/* 마이너스 */
main #minus_border {
    margin-left: 0.5vw;
    margin-top: 2vh;
    border-width: 0.1em;
    border-color: rgb(255, 255, 255);
    width: 2vw;
}

/* 할인 적용 2 */
main #amount_subbox2 {
    width: 18vw;
    height: 5vh;
    margin-left: 3vw;
    margin-top: -2vh;
    background-color: rgb(46, 46, 46);
    border-radius: 1vw;
    border: none !important;
}

/* 할인 적용 폰트 */
main #amount_subtex3 {
    margin-left: 2.5vw;
    padding-top: 2vh;
    font-size: 1.1em;
    color: white;
}

/* 최종 결제 금액 */
main #amount_last {
    margin-left: 2vw;
    padding-top: 20vh;
}

/* 최종 결제 금액 폰트 */
main #am_last_fn {
    color: white;
    font-size: 1.1em;
}

/* 최종 결제 금액 원 폰트 */
main #last_fn {
    padding: 0.5vh;
    font-size: 1.8em;
    color: rgb(0, 225, 255);
}

/* 결제 수단 : 신용 / 체크카드 박스 */
main #amount_last2 {
    margin-left: 2vw;
    margin-bottom: 1vh;
}

/* 결제 수단 텍스트 */
main #am_last_fn2 {
    color: white;
    font-size: 1em;
}

/* 결제 안내 구분선 */
main #amunt_border {
    margin-left: 2vw;
    border-width: 0.1em;
    width: 15vw;
    margin-top: 1vh;
    border-color: rgb(168, 167, 167);
}

/* 결제 안내 구분선 2 */
main #amunt_border2 {
    margin-left: 2vw;
    border-width: 0.1em;
    width: 22vw;
    margin-top: 1vh;
    border-color: rgb(168, 167, 167);
}
