/* 쿠폰/관람권/포인트 버튼 */
main #main_bt {
    width: 35vw; /* 화면 너비의 35% */
    max-width: 550px; /* 최대 너비를 650px로 설정 */
    height: 8vh; /* 화면 높이의 8% */
    border-radius: 4vh; /* 동적으로 둥근 모서리 설정 */
    font-size: 2rem; /* 화면 비율에 맞는 글자 크기 */
    margin-top: 3vh; /* 상단 여백 */
    margin-bottom: 3vh; /* 하단 여백 */
    margin-left: 7vw; /* 좌측 여백 */
    font-size: 20px;
    
}

/* 쿠폰 버튼 */
main #couponButton {
    width: 10vw; 
    max-width: 180px; /* 최대 너비를 200px로 설정 */
    height: 6vh;
    border-radius: 0.5vw; 
    margin-right: -3.5vw; /* 우측 여백 */
    margin-left: 7vw; /* 좌측 여백을 vw로 조정 */
    font-size: 20px;
}

/* 관람권 버튼 */
main #ITNButton {
    width: 10vw; 
    max-width: 180px; /* 최대 너비를 200px로 설정 */
    height: 6vh;
    border-radius: 0.5vw; 
    margin-right: -3.5vw; /* 우측 여백 */
    margin-left: 5vw; /* 좌측 여백을 vw로 조정 */
    font-size: 20px;
}

/* 포인트 버튼 */
main #pointButton {
    width: 10vw; 
    max-width: 180px; /* 최대 너비를 200px로 설정 */
    height: 6vh; 
    border-radius: 0.5vw; 
    margin-right: -3.5vw; /* 우측 여백 */
    margin-left: 5vw; /* 좌측 여백을 vw로 조정 */
     font-size: 20px;
}

/* 카드 버튼 */
main #card_bt {
    margin-left: 18vw;
    margin-top: 2vh;
    border-radius: 0.5vw; 
    margin-bottom: 5vh;
    width: 15vw; 
    height: 6vh; 
    max-width: 300px;    /* 최대 너비 300px */
    min-width: 150px;    /* 최소 너비 150px */
    text-align: center;
    font-size: 20px; 
}

/* 계좌결제 버튼 */
main #bank_book_bt {
    margin-left: 5vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
    border-radius: 0.5vw; 
    width: 15vw; 
    height: 6vh; 
    max-width: 300px;    /* 최대 너비 300px */
    min-width: 250px;    /* 최소 너비 150px */
    text-align: center;
    font-size: 20px; 
}
.button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

#back_bt, #payment_bt {
    width: 48%; /* 약간의 간격을 위해 조정 */
    max-width: 200px; /* 최대 너비 설정 */
    height: 40px; /* 고정 높이 */
    background-color: rgb(112, 112, 112);
    color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px; /* 폰트 크기 조정 */
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }

    #back_bt, #payment_bt {
        width: 80%;
        margin-bottom: 10px;
    }
}

#payment_bt {
    background-color: rgb(0, 225, 255); /* 결제 버튼 색상 */
}
