main #payment_methods{
    margin-top: 3vh;
    margin-left: 2vw;
}

/* 결제 수단 텍스트 */
main #card_text {
    margin-left: 13vw;
    font-size: 25px; 
    margin-top: 13vh;
    
}

/* 은행명 */
main #bank_name {
    margin-bottom: 2vh; /* 뷰포트 높이의 2% */
}

/* 카드 결제 설명 */
main #creditCardSection {
    display: none;
    margin-left: 20vw; /* 뷰포트 너비의 25% */
    margin-bottom: 3vh; /* 뷰포트 높이의 3% */
    margin-top: -2vh !important;
}

/* 무통장 결제 설명 */
main #creditbank_bookSection {
    display: none;
    margin-left: 40vw; /* 뷰포트 너비의 25% */
    margin-bottom: 3vh; /* 뷰포트 높이의 3% */
    margin-top: -2vh !important;
}

/* 주의사항 */
main .notandum {
    font-weight: bold;
    font-size: 15px;
    margin-left: -7vw; /* 뷰포트 너비의 -7% */
}
